Repository dzichonka/RickAndMorty: changes, and which lint-staged commands are due for each by the changed paths.
All: npm run format, npm run lint:fix, npm run lint:scss:fix

style: fix styles
  src/components/Results/Result.module.scss
  src/components/Results/Result.tsx
  src/main.tsx
  src/pages/MainPage/MainPage.tsx
  src/styles/base.scss
  src/styles/media.scss
  src/styles/normalize.scss
  src/styles/style.scss
Due: npm run format, npm run lint:fix, npm run lint:scss:fix

fix: add autofix changes
  commitlint.config.js
  src/styles/fonts.scss
  src/styles/mixins.scss
Due: npm run format, npm run lint:scss:fix

docs: change readme
  .lintstagedrc.json
  README.md
  package.json
Due: none

chore: instal and config vitest
  .gitignore
  .lintstagedrc.json
  package-lock.json
  package.json
  src/components/ErrorButton/ErrorButton.test.tsx
  vitest-setup.ts
  vitest.config.ts
Due: npm run format, npm run lint:fix

style: fix alignment
  src/styles/base.scss
Due: npm run format, npm run lint:scss:fix

feat: add tests for search component
  src/components/Search/Search.test.tsx
  src/components/Search/Search.tsx
Due: npm run format, npm run lint:fix

feat: add tests for Card and Result components
  src/components/Card/Card.test.tsx
  src/components/Results/Result.test.tsx
  src/components/Results/Result.tsx
Due: npm run format, npm run lint:fix

feat: add tests for ErrorBoundary
  src/components/ErrorBoundary/ErrorBoundary.test.tsx
  src/components/ErrorButton/ErrorButton.test.tsx
Due: npm run format, npm run lint:fix

feat: add tests for Loder and ErrorPage
  src/components/Card/Card.test.tsx
  src/components/ErrorBoundary/ErrorBoundary.test.tsx
  src/components/Loader/Loader.test.tsx
  src/components/Loader/Loader.tsx
  src/components/RefreshButton/RefreshButton.test.tsx
  src/components/Results/Result.test.tsx
  src/components/Search/Search.test.tsx
  src/pages/ErrorPage/ErrorPage.test.tsx
Due: npm run format, npm run lint:fix

feat: add tests for MainPage
  src/pages/MainPage/MainPage.test.tsx
  src/pages/MainPage/MainPage.tsx
Due: npm run format, npm run lint:fix

feat: add test for loader in MainPage
  eslint.config.js
  src/pages/MainPage/MainPage.test.tsx
Due: npm run format, npm run lint:fix

feat: add test for null and empty data for MainPage
  eslint.config.js
  src/components/Results/Result.tsx
  src/components/Search/Search.test.tsx
  src/pages/MainPage/MainPage.test.tsx
Due: npm run format, npm run lint:fix

feat: install react-router-dom
  package-lock.json
  package.json
Due: none

feat: convert class components to funnctional
  src/components/Card/Card.tsx
  src/components/ErrorButton/ErrorButton.tsx
  src/components/RefreshButton/RefreshButton.tsx
  src/components/Results/Result.tsx
  src/components/Search/Search.tsx
  src/pages/MainPage/MainPage.tsx
  src/services/CharacterServiece.ts
Due: npm run format, npm run lint:fix

feat: add AboutPage
  src/App.tsx
  src/Router/router.tsx
  src/components/App/App.test.tsx
  src/components/App/App.tsx
  src/main.tsx
  src/pages/AboutPage/AboutPage.test.tsx
  src/pages/AboutPage/AboutPage.tsx
  src/pages/MainPage/MainPage.test.tsx
  src/pages/MainPage/MainPage.tsx
  src/styles/base.scss
  src/styles/mixins.scss
Due: npm run format, npm run lint:fix, npm run lint:scss:fix

feat: add useLS hook
  src/components/Search/Search.tsx
  src/hooks/useLocalStorage.tsx
  src/pages/MainPage/MainPage.test.tsx
  src/pages/MainPage/MainPage.tsx
Due: npm run format, npm run lint:fix

feat: add NotFoundPage
  src/Router/router.tsx
  src/pages/NotFoundPage/NotFoundPage.test.tsx
  src/pages/NotFoundPage/NotFoundPage.tsx
Due: npm run format, npm run lint:fix

feat: add pagination
  src/Router/router.tsx
  src/components/ErrorBoundary/ErrorBoundary.test.tsx
  src/components/ErrorBoundary/ErrorBoundary.tsx
  src/components/Pagination/Pagination.test.tsx
  src/components/Pagination/Pagination.tsx
  src/components/RefreshButton/RefreshButton.test.tsx
  src/components/RefreshButton/RefreshButton.tsx
  src/components/Results/Result.test.tsx
  src/components/Results/Result.tsx
  src/components/Search/Search.tsx
  src/pages/ErrorPage/ErrorPage.test.tsx
  src/pages/ErrorPage/ErrorPage.tsx
  src/pages/MainPage/MainPage.test.tsx
  src/pages/MainPage/MainPage.tsx
  src/styles/mixins.scss
Due: npm run format, npm run lint:fix, npm run lint:scss:fix

refactor: delete comments and replace symbols with entities
  src/pages/AboutPage/AboutPage.tsx
  src/pages/MainPage/MainPage.tsx
  src/pages/NotFoundPage/NotFoundPage.tsx
Due: npm run format, npm run lint:fix

feat: add basic view of aside details
  src/components/Details/Details.tsx
  src/components/Results/Result.test.tsx
  src/components/Results/Result.tsx
  src/pages/MainPage/MainPage.tsx
Due: npm run format, npm run lint:fix

feat: add functionality fot details companent
  .husky/pre-commit
  .husky/pre-push
  src/components/Details/Details.tsx
  src/components/Pagination/Pagination.tsx
  src/components/Results/Result.tsx
  src/pages/MainPage/MainPage.tsx
Due: npm run format, npm run lint:fix

feat: add tests for components
  src/components/Details/Details.test.tsx
  src/components/Details/Details.tsx
  src/components/ErrorBoundary/ErrorBoundary.test.tsx
  src/components/ErrorBoundary/ErrorBoundary.tsx
Due: npm run format, npm run lint:fix

feat: add outlet for rendering details aside
  src/Router/router.tsx
  src/components/Details/Details.tsx
  src/pages/MainPage/MainPage.tsx
Due: npm run format, npm run lint:fix

feat: add test for router
  src/Router/router.test.tsx
Due: npm run format, npm run lint:fix

chore: add plugin for compressing image assets and update readme
  README.md
  package-lock.json
  package.json
  vite.config.ts
Due: npm run format, npm run lint:fix

feat: add lazy loading for pages
  src/Router/router.tsx
Due: npm run format, npm run lint:fix

feat: add zustand for state management, add chekbox for cards
  package-lock.json
  package.json
  src/components/Card/Card.tsx
  src/components/Pagination/Pagination.tsx
  src/components/Search/Search.tsx
  src/contexts/theme/ThemeContext.tsx
  src/store/useCardsStore.ts
  src/styles/mixins.scss
Due: npm run format, npm run lint:fix, npm run lint:scss:fix

feat: add Portal for Selected Cards
  src/components/SelectedItems/SelectedItems.tsx
  src/pages/MainPage/MainPage.tsx
  src/styles/base.scss
Due: npm run format, npm run lint:fix, npm run lint:scss:fix

feat: add download for selected cards
  src/components/Card/Card.tsx
  src/components/SelectedItems/SelectedItems.tsx
  src/store/useCardsStore.ts
Due: npm run format, npm run lint:fix

feat: improve downloading of cards
  src/components/App/App.tsx
  src/components/DownloadLink/DownloadLink.tsx
  src/components/Pagination/Pagination.tsx
  src/components/SelectedItems/SelectedItems.tsx
  src/pages/AboutPage/AboutPage.tsx
  src/styles/base.scss
Due: npm run format, npm run lint:fix, npm run lint:scss:fix

feat: add test for new components
  src/Router/router.test.tsx
  src/components/App/App.tsx
  src/components/DownloadLink/DownloadLink.test.tsx
  src/components/DownloadLink/DownloadLink.tsx
  src/components/ErrorBoundary/ErrorBoundary.test.tsx
  src/components/Header/Header.test.tsx
  src/components/Header/Header.tsx
  src/components/SelectedItems/SelectedItems.test.tsx
  src/main.test.tsx
  src/pages/ErrorPage/ErrorPage.test.tsx
  src/pages/ErrorPage/ErrorPage.tsx
  src/pages/NotFoundPage/NotFoundPage.tsx
  src/store/useCardsStore.ts
  src/styles/mixins.scss
Due: npm run format, npm run lint:fix, npm run lint:scss:fix

chore: add warning for console, delete error button from app
  eslint.config.js
  src/components/App/App.tsx
Due: npm run format, npm run lint:fix

chore: add tanstack
  eslint.config.js
  package-lock.json
  package.json
Due: none

feat: add devtools middleware for zustand
  eslint.config.js
  package-lock.json
  package.json
  src/store/useCardsStore.ts
Due: npm run format, npm run lint:fix

feat: add ReactQueryDevtools
  package-lock.json
  package.json
  src/main.tsx
Due: npm run format, npm run lint:fix

feat: rewrite components with tanStack
  src/components/Details/Details.test.tsx
  src/components/Details/Details.tsx
  src/components/Search/Search.tsx
  src/hooks/useCharacters.tsx
  src/hooks/useLocalStorage.tsx
  src/hooks/useOneCharacter.tsx
  src/main.tsx
  src/pages/MainPage/MainPage.test.tsx
  src/pages/MainPage/MainPage.tsx
  src/services/characterService.ts
Due: npm run format, npm run lint:fix

feat: add error message component
  src/components/Details/Details.tsx
  src/components/ErrorMessage/ErrorMessage.test.tsx
  src/components/ErrorMessage/ErrorMessage.tsx
  src/pages/MainPage/MainPage.tsx
Due: npm run format, npm run lint:fix

feat: add refetch buttons
  src/components/Details/Details.tsx
  src/pages/MainPage/MainPage.tsx
Due: npm run format, npm run lint:fix

feat: add tests for new components
  package-lock.json
  package.json
  src/components/Details/Details.test.tsx
  src/components/Details/Details.tsx
  src/components/RefetchButton/RefetchButton.test.tsx
  src/components/RefetchButton/RefetchButton.tsx
  src/hooks/useCharacters/useCharacters.test.tsx
  src/hooks/useCharacters/useCharacters.tsx
  src/hooks/useOneCharacter/useOneCharacter.test.tsx
  src/hooks/useOneCharacter/useOneCharacter.tsx
  src/pages/MainPage/MainPage.test.tsx
  src/pages/MainPage/MainPage.tsx
Due: npm run format, npm run lint:fix

Path conditions:
  npm run format: (any of: *.{ts,tsx}) or (any of: *.{css,scss})
  npm run lint:fix: any of: *.{ts,tsx}
  npm run lint:scss:fix: any of: *.{css,scss}
