Repository dzichonka/RickAndMorty: changes, and which lint-staged commands are due for each by the changed paths.
All: npm run format, npm run lint:fix, npm run lint:scss:fix

feat: add cache invalidation
  src/components/Details/Details.test.tsx
  src/components/Details/Details.tsx
  src/components/Header/Header.tsx
  src/components/Pagination/Pagination.tsx
  src/components/RefetchButton/RefetchButton.tsx
  src/components/SelectedItems/SelectedItems.tsx
  src/hooks/useCharacters/useCharacters.tsx
  src/hooks/useOneCharacter/useOneCharacter.tsx
  src/pages/MainPage/MainPage.test.tsx
  src/pages/MainPage/MainPage.tsx
Due: npm run format, npm run lint:fix

fix: fix cache invalidation
  src/components/Details/Details.test.tsx
  src/components/Details/Details.tsx
  src/pages/MainPage/MainPage.test.tsx
  src/pages/MainPage/MainPage.tsx
Due: npm run format, npm run lint:fix

chore: edit test config and stale time
  src/contexts/theme/ThemeType.d.ts
  src/hooks/useCharacters/useCharacters.tsx
  src/hooks/useOneCharacter/useOneCharacter.tsx
  src/main.test.tsx
  src/types/api-types.d.ts
  vitest.config.ts
Due: npm run format, npm run lint:fix

feat: migrate ThemeProvider
  package-lock.json
  package.json
  postcss.config.js
  src/Router/router.tsx
  src/app/(pages)/about/page.tsx
  src/app/globals.scss
  src/app/layout.tsx
  src/app/page.tsx
  src/components/ClientThemeWrapper/ClientThemeWrapper.tsx
  src/components/Header/Header.tsx
  src/contexts/theme/ThemeContext.tsx
  src/contexts/theme/ThemeProvider.tsx
  src/contexts/theme/ThemeType.d.ts
  src/pages/css/MainPage.module.css
  src/pages/css/MainPage.module.css.map
  src/pages/css/MainPage.module.min.css
  src/pages/css/MainPage.module.min.css.map
  src/styles/main.css
Due: npm run format, npm run lint:fix, npm run lint:scss:fix

feat: migrate aboutPage, not-found, error-boundary
  src/app/(pages)/about/page.tsx
  src/app/error.tsx
  src/app/favicon.ico
  src/app/metadata.ts
  src/app/not-found.tsx
  src/app/page.tsx
  src/components/App/App.tsx
  src/components/ClientThemeWrapper/ClientThemeWrapper.tsx
  src/components/ErrorBoundary/ErrorBoundary.tsx
  src/components/ErrorButton/ErrorButton.tsx
  src/components/Header/Header.tsx
  src/components/RefreshButton/RefreshButton.tsx
  src/main.tsx
  src/pages/AboutPage/AboutPage.tsx
  src/pages/css/MainPage.module.css
  src/pages/css/MainPage.module.css.map
  src/pages/css/MainPage.module.min.css
  src/pages/css/MainPage.module.min.css.map
Due: npm run format, npm run lint:fix, npm run lint:scss:fix

feat: migrate search
  README.md
  src/app/page.tsx
  src/components/Search/Search.tsx
  src/pages/MainPage/MainPage.tsx
Due: npm run format, npm run lint:fix

feat: migrate characters display and download
  src/app/actions.ts
  src/app/layout.tsx
  src/app/page.tsx
  src/components/App/App.tsx
  src/components/CharactersView/CharactersView.tsx
  src/components/ClientThemeWrapper/ClientThemeWrapper.tsx
  src/components/ClientWrapper/ClientWrapper.tsx
  src/components/Details/Details.tsx
  src/components/Pagination/Pagination.tsx
  src/components/Results/Result.module.scss
  src/components/Results/Result.tsx
  src/components/SelectedItems/SelectedItems.tsx
  src/main.tsx
  src/pages/MainPage/MainPage.module.scss
  src/pages/MainPage/MainPage.tsx
  src/styles/base.scss
  src/styles/fonts.scss
  src/styles/mixins.scss
  src/styles/style.scss
Due: npm run format, npm run lint:fix, npm run lint:scss:fix

chore: make configuration for sass
  package-lock.json
  package.json
  postcss.config.js
  tsconfig.json
Due: none

chore: make configuration for tailwind
  next.config.js
  package-lock.json
  package.json
  postcss.config.js
  tailwind.config.js
Due: none

feat: detele Error Boundary
  next.config.js
  postcss.config.js
  src/app/globals.scss
  src/app/layout.tsx
  src/app/page.tsx
  src/components/ClientWrapper/ClientWrapper.tsx
  src/components/ErrorBoundary/ErrorBoundary.tsx
  src/components/ErrorButton/ErrorButton.tsx
  src/components/Header/Header.tsx
  src/components/Search/Search.tsx
  stylelint.config.js
  tailwind.config.js
Due: npm run format, npm run lint:fix, npm run lint:scss:fix

docs: change readme and lint rules
  README.md
  eslint.config.js
  stylelint.config.js
  tsconfig.json
Due: none

feat: improve error pages
  src/app/error.tsx
  src/app/global-error.tsx
  src/app/loading.tsx
  src/app/not-found.tsx
  src/components/RefreshButton/RefreshButton.tsx
Due: npm run format, npm run lint:fix

feat: make all images are rendered via the next/image component
  next.config.js
  src/app/(pages)/about/page.tsx
  src/app/error.tsx
  src/app/not-found.tsx
  src/components/Card/Card.tsx
  src/components/CharactersView/CharactersView.tsx
  src/components/Details/Details.tsx
Due: npm run format, npm run lint:fix

feat: make all Links via next-intl
  src/app/[locale]/not-found.tsx
  src/app/not-found.tsx
  src/components/Header/Header.tsx
Due: npm run format, npm run lint:fix

Path conditions:
  npm run format: (any of: *.{ts,tsx}) or (any of: *.{css,scss})
  npm run lint:fix: any of: *.{ts,tsx}
  npm run lint:scss:fix: any of: *.{css,scss}
